{% extends "squeleton.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
      <h1 class="myheader1 text-center">Acerca del juego</h1>
<p class="text-justify">	El juego es una variación del conocido juego “Cards against humanity” en español. El juego
  consta de una serie de cartas:<br/><br/>
	Blancas: Frases,lugares,personas,acciones...<br/>
	Negras: Afirmaciones o preguntas, en general.<br/><br/>
	Se reparten 10 cartas blancas a cada jugador, se elige un “Zar” y se saca una carta negra para empezar.
  El resto de jugadores tienen que elegir una carta que crean que se “relacione” bien con la carta 	negra que ha salido
  (una combinación graciosa, con sentido o no) entre las que poseen sin que el resto de jugadores la vean. Cuando todos
  han elegido una carta,se mezclan y se levantan a la vez, y el zar elige la combinación de cartas (la negra y alguna de
  las blancas) que más le guste.El jugador ganador gana un punto y pasa a ser el nuevo “Zar”. Todos los jugadores que
  usaron carta roban una carta blanca del montón hasta tener de nuevo 10, se saca otra carta negra y continúa el juego.
  Éste termina cuando algún jugador llegue a 10 puntos.</p>
    </div>
    <div class="col">
    </div>
  </div>
</div>
{% endblock %}