{% extends "squeleton.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
      <h1 class="myheader1 text-center">Contacto</h1>
<form action="#" class="text-center">
  <label for="email">Correo:</label>
  <input type="text" id="email" name="email"><br><br/>
  <label for="message">Mensaje:</label><br>
    <textarea id="message" name="message"></textarea><br><br>
  <input type="submit" value="Enviar">
</form>
    </div>
    <div class="col">
    </div>
  </div>
</div>
{% endblock %}