{% extends "squeleton.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
      <h1 class="myheader1 text-center">Bienvenido a "Cartas contra la humanidad"</h1>
<p class="text-justify">Este juego está basado en el popular juego de cartas "Cards against humanity", de creación americana y uso
permitido mediante licencia "Creative Commons BY-NC-SA 4.0", es una traducción y variación al español para que todo
    el público hispanohablante pueda disfrutar del juego. Si deseas conocer más acerca del juego puedes visitar
    la página del juego original en este <a href="https://cardsagainsthumanity.com/">enlace</a>.
</p>
    </div>
    <div class="col">
    </div>
  </div>
</div>

{% endblock %}
<!--
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    What chat room would you like to enter?<br>
    <input id="room-name-input" type="text" size="100"><br>
    <input id="room-name-submit" type="button" value="Enter">

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;

        };
    </script>
</body>
</html>
-->
